<div class="card-group mt-5">
  <app-ng-content-child>
    <img
      class="card-img-top"
      src="https://images.unsplash.com/reserve/J3URHssSQyqifuJVcgKu_Wald.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZmxvcmVzdHxlbnwwfHwwfHw%3D&w=1000&q=80"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        This is a wider card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
    <div class="card-footer">
      End of the card
    </div>
  </app-ng-content-child>
</div>
