<article>
  <h2>Structural Directive: NgIf</h2>
  <div class="custom-control custom-switch mt-5">
    <input
      type="checkbox"
      class="custom-control-input"
      id="customSwitches"
      (click)="toggleIfParameter($event)"
    />
    <label class="custom-control-label" for="customSwitches">
      Toggle this switch element (Current value {{ ifParameter }})
    </label>
  </div>

  <div class="mt-5">
    <div *ngIf="ifParameter; then ifTrue; else ifFalse"></div>
    <ng-template #ifTrue>
      <h1 class="alert-success">This component represents a true status</h1>
    </ng-template>
    <ng-template #ifFalse>
      <h1 class="alert-danger">This component represents a false status</h1>
    </ng-template>
  </div>
</article>
