<!-- <app-courses></app-courses> --> <!-- Interporlation -->

<!-- <app-class-binding></app-class-binding> --> <!-- Class Binding -->

<!-- <app-event-binding></app-event-binding> --> <!-- Event Binding -->

<!-- <app-two-way-data-binding></app-two-way-data-binding> --> <!-- Two Way Data Binding -->

<!-- <app-parent-component></app-parent-component> --> <!-- Data Sharing -->

<app-ng-content-parent></app-ng-content-parent> <!-- Data Sharing -->

<!-- <app-structural-directive-ngif></app-structural-directive-ngif> --> <!-- Ng If Implementation -->

<!-- <app-structural-directive-switchcase></app-structural-directive-switchcase> --> <!-- Ng Switch Case Implementation -->