<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- <app-courses></app-courses> --> <!-- Interporlation -->

<!-- <app-class-binding></app-class-binding> --> <!-- Class Binding -->

<!-- <app-event-binding></app-event-binding> --> <!-- Event Binding -->

<!-- <app-two-way-data-binding></app-two-way-data-binding> --> <!-- Two Way Data Binding -->

<!-- <app-parent-component></app-parent-component> --> <!-- Data Sharing with @Input(), @Output() and Service Broadcast -->

<!-- <app-ng-content-parent></app-ng-content-parent> --> <!-- Data Sharing -->

<!-- <app-structural-directive-ngif></app-structural-directive-ngif> --> <!-- Ng If Implementation along with custom ngElse Directive-->

<!-- <app-structural-directive-switchcase></app-structural-directive-switchcase> --> <!-- Ng Switch Case Implementation -->

<!-- <app-attribute-directive></app-attribute-directive> --> <!-- Attribute Directive Implementation -->