$dot-size: 400px;
$dot-margin: 200px;

.selected-color {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.color-palete button,
.selected-color button {
  padding: 10px;
  border: 1px solid white;
}

.color-palete button:hover {
  cursor: pointer;
  border: 1px solid black;
}

.circle-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100%;
}
.circle-container span {
  height: $dot-size;
  width: $dot-size;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: $dot-margin 0px $dot-margin 0px;
}
